<!DOCTYPE html>
<html>

<head>

<title> DisfrutaCcs </title>	

</head>

<header>
    <div class="headerContainer">   
    <h1><img src="http://localhost:1337/images/Logo_peque%C3%B1o.jpg" alt="" class="boxPic shadowStyle"><a href="http://localhost:1337">Disfruta Caracas</a></h1>
        <div id="navcontainer">
        <br class="clearfloat" />
            <ul id="navlist">
                <li><a href="http://localhost:1337">Home</a></li>
                <li id="active"><a href="http://localhost:1337/usuario/registrar">Registar</a></li>
                <li><a href="http://localhost:1337/consulta">Consultar</a></li>
                <li><a href="http://localhost:1337/login">Mi perfil</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <br class="clearfloat" />
</head>

<body>

<div align="center">

<form action = "/Resena/nueva" method= "POST">
<h1 class="pacifico grande verde"> Esta seguro que desea publicar este comentario? </h1>
<hr>

<h4 class = "lato "> Id local </h1>
<input value= "<%=  Resena.idlocal %>" type="text" name="idlocal" class="lato text-center"><br />

<h4 class = "lato "> Id usuario </h1>
<input value= "<%=  Resena.id %>" type="text" name="idusuario" class="lato text-center"><br />

<h4 class = "lato "> Comentario </h1>
<input value= "<%=  Resena.Comentario %>" type="text" name="Comentario" class="lato text-center"><br />

<br>
<input type="submit" value = "Aceptar" class="lato">


</div>
</body>
</html>






















