<!DOCTYPE html>


 <!--Plantilla-->
<nav>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Free Responsive Template #10 - large palm</title>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/styles/main.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
</head>

<header>
    <div class="headerContainer">   
    <h1><img src="http://localhost:1337/images/Logo_peque%C3%B1o.jpg" alt="" class="boxPic shadowStyle"><a href="http://localhost:1337/">Disfruta Caracas</a></h1>
        <div id="navcontainer">
        <br class="clearfloat" />
            <ul id="navlist">
                <li><a href="http://localhost:1337/">Home</a></li>
                <li><a href="http://localhost:1337/usuario/registrar">Registrar</a></li>
                <li><a href="http://localhost:1337/consulta">Consultar</a></li>
                <li id="active"><a href="http://localhost:1337/login">Mi perfil</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <br class="clearfloat" />
</header>

<body>
</nav>
<!--Fin de plantilla-->

<body>

<div align="center">
<section>
 <div class="text-center">
    <h1 class="pacifico grande verde">Mi perfil</h1>
    <hr>
    <h2 class="lato"><i>Escriba su alias de usuario y contraseña</h2></p>
    

<form action="/usuario/perfil">


<input type="text" class="text-center" placeholder="Alias" name="Alias" size="20" maxlength="45" >
<br>
<br>
<input type="password" class = "text-center" placeholder="Clave" name="Clave" size="20" maxlength="8">
<br>
<br>
<input type="submit" value="Ingresar" class="lato center-text">

</form>

    <div class="col-md-6 inline-block">
    </div>



</section>
</body>
</html>










