<!DOCTYPE html>

 <!--Plantilla-->
<nav>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Free Responsive Template #10 - large palm</title>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
</head>
<header>
    <div class="headerContainer">   
    <h1><img src="http://localhost:1337/images/Logo_peque%C3%B1o.jpg" alt="" class="boxPic shadowStyle"><a href="http://localhost:1337">Disfruta Caracas</a></h1>
        <div id="navcontainer">
            <ul id="navlist">
                <li id="active"><a href="http://localhost:1337">Home</a></li>
                <li><a href="http://localhost:1337/registro">Registar</a></li>
                <li><a href="http://localhost:1337/consulta">Consultar</a></li>
                <li><a href="http://localhost:1337/login">Mi perfil</a></li>
                <li><a href="http://localhost:1337/tarea">Tarea 2</a></li>
            </ul>
        </div>
        <br class="clearfloat" />
</header>
<body>
</nav>









