
<!DOCTYPE html>

 <!--Plantilla-->
<nav>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/styles/main.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
</head>
<header>
    <div class="headerContainer">   
    <h1><img src="http://localhost:1337/images/Logo_peque%C3%B1o.jpg" alt="" class="boxPic shadowStyle"><a href="http://localhost:1337/">Disfruta Caracas</a></h1>
        <div id="navcontainer">
        <br class="clearfloat" />
            <ul id="navlist">
                <li><a href="http://localhost:1337/">Home</a></li>
                <li><a href="http://localhost:1337/usuario/registrar">Registrar</a></li>
                <li><a href="http://localhost:1337/consulta">Consultar</a></li>
                <li id="active"><a href="http://localhost:1337/login">Mi perfil</a></li>
                <li><a href="#">Tarea 2</a></li>
            </ul>
        </div>

        <br class="clearfloat" />
</header>
<body>
</nav>


<form action="/Natural/update" method="POST" >
  <div align="center">

  <input type='hidden' name='idusuario' value='<%=datos.idusuario%>' >


  <h1 class="pacifico verde">Ingresa tu información!</h1>
  <hr>
  <br>

  <label for="name">Sexo</label ><br/>
    <br>
   <input type="radio" class="lato" placeholder="Masculino" name="Sexo" value="Masculino"/>Masculino
   <input type="radio" class="lato" placeholder="Femenido" name="Sexo" value="Femenino"/>Femenino
   <input type="radio" class="lato" placeholder="Otro" name="Sexo" value="Otro"/>Otro
   <br/>
   <br/>
   <br>

   <label for="name">Presupuesto</label ><br />

   <input type="text" class="text-center" placeholder="Presupuesto" name='Presupuesto' value='<%= datos.Presupuesto %>' size="20" maxlength="45" />
   <br>
   <br>
   <label for="name">Codigo Postal donde te ecuentras</label >
   <br/>
   <input type="text" class="text-center" placeholder="1070" name='Codigo_postal' value='<%= datos.Codigo_postal %>' size="20" maxlength="20" ><br />
   <br/>
   <br/>

   <div align = "center">
   <input type="submit" class="lato" value="Guardar" action="/Natural/update"> 
  
   </div>

   <br/>
</form>
</body>












