<!DOCTYPE html>

<html>




<body>
<h> Pregunta 1 </h>

<br>
<h> enunciado </h>
<hr>

<h1>   <%= respuesta.first_name %>  </h1>

<h2>   <%= respuesta.PelisRentadas %>  </h2>



</body>
</html>

















