<!DOCTYPE html>

<html>




<body><br><br>
<h> Pregunta 2 </h>

<br>
<h> enunciado </h>

<br><br><br><br><br>
<hr>


<form action="/Tarea/query2" >
<input type="submit" value="mostrar respuesta">
</form>

<h3> <%= respuesta.count(title) %> </h3>

</body>
</html>




