<!DOCTYPE html>

<!DOCTYPE html>

 <!--Plantilla-->
<nav>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Free Responsive Template #10 - large palm</title>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<header>
    <div class="headerContainer">   
    <h1><img src="images/Logo_pequeño.jpg" alt="" class="boxPic shadowStyle"><a href="http://localhost:1337">Disfruta Caracas</a></h1>
        <div id="navcontainer">
        <br class="clearfloat" />
            <ul id="navlist">
                <li><a href="http://localhost:1337">Home</a></li>
                <li><a href="http://localhost:1337/usuario/registrar">Registar</a></li>
                <li><a href="http://localhost:1337/consulta">Consultar</a></li>
                <li id="active"><a href="#">Mi perfil</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <br class="clearfloat" />
</head>
<body>
</nav>
 <!--Fin de la plantilla-->

<html>

<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/styles/main.css">

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<title> DisfrutaCcs </title>	

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Free Responsive Template #10 - large palm</title>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>

</head>

  <div align="center">

<h1 class="pacifico grande verde"><%= Usuario.Nombre %></h1>
<hr>

<h2 class="lato"> Nombre de usuario:</h1>

<h2 class = "lato mediano"> <b><%= Usuario.Alias %></b></h1>


<h2 class="lato"> Correo:</h1>

<h2 class = "lato mediano"> <b><%= Usuario.Correo %></b></h1>
<br>



</div>
</body>
</html>