 <!DOCTYPE html>

 <!--Plantilla-->
<nav>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Free Responsive Template #10 - large palm</title>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/styles/main.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
</head>


<header>
    <div class="headerContainer">   
    <h1><img src="/images/Logo_peque%C3%B1o.jpg" alt="" class="boxPic shadowStyle"><a href="/">Disfruta Caracas</a></h1>
        <div id="navcontainer">
        <br class="clearfloat" />
            <ul id="navlist">
                <li><a href="/">Home</a></li>
                <li id="active"><a href="//usuario/registrar">Registrar</a></li>
                <li><a href="/consulta">Consultar</a></li>
                <li ><a href="/login">Mi perfil</a></li>
                <li><a href="/tarea">Tarea 2</a></li>
            </ul>
        </div>

        <br class="clearfloat" />
</header>


</nav>
<body>

<!--Fin de plantilla-->


<form action="/Usuario/create" method="POST" >
  <div align="center">

  <h1 class="pacifico verde">Registrate!</h1>
  <hr>
  <br>
  
  <label for="name" class="lato espacio-derecha"> Nombre</label >
  <label for="name" class="lato"> Apellido</label >
  <br>

   <input title="Se necesita un nombre" type="text" class="text-center" placeholder="Juan" name="Nombre" size="20" maxlength="45" required/>
   <input title="Se necesita un apellido" type="text" class="text-center" placeholder="perez" name="Apellido" size="20" maxlength="45" required/>

   <br/>
   <br/>
   
   <label for="name">Fecha de nacimiento</label ><br/>
   <input title="Se necesita una fecha de nacimiento" type="date" class="text-center" name="Fecha_de_nacimiento"><br required/>

   <br/>

    <label for="name">Edad</label ><br/>
   <input type="number" class="text-center" name="Edad"><br />
   <br/>

   <script>
  Fecha_de_consulta=document.innerHTML = Date(day,month,year);
  </script>
 

   <label for="name">Correo Electronico</label ><br required/>
   <input title="Se necesita un correo valido" type="email" class="text-center" placeholder="juanperez@correo.com" name="Correo" size="20" maxlength="100" ><br required/>
   <br/>

   <label for="name">Alias</label ><br/>
   <input title="Se necesita un alias" type="text" class="text-center" placeholder="Rockpepe" name="Alias" size="20" maxlength="45" ><br required/>
   
   <br/>

   <label for="name">clave</label ><br/>
   <input title="Se necesita una contraseña" type="password" class="text-center" placeholder="clave" name="Clave" size="20" maxlength="20" ><br required/>
   <br/>
   <br/>

   <div align = "center">
   <input type="submit" class="lato" value="Registrar Usuario" action="/usuario/registrar"> 
  
   </div>

   <br/>
  
   <div>
</form>
</body>
</html>