<!DOCTYPE html>

 <!--Plantilla-->
<nav>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Free Responsive Template #10 - large palm</title>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<header>
    <div class="headerContainer">   
    <h1><img src="images/Logo_pequeño.jpg" alt="" class="boxPic shadowStyle"><a href="http://localhost:1337">Disfruta Caracas</a></h1>
        <div id="navcontainer">
            <ul id="navlist">
                <li><a href="http://localhost:1337">Home</a></li>
                <li id="active"><a href="http://localhost:1337/registro">Registar</a></li>
                <li><a href="http://localhost:1337/consulta">Consultar</a></li>
                <li><a href="http://localhost:1337/login">Mi perfil</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="http://localhost:1337/Tarea2">TareaNº2</a></li>
            </ul>
        </div>
        <br class="clearfloat" />
</head>
<body>
</nav>




<form action="/Natural/create" method="POST" >
  <div align="center">

  <h1 class="pacifico verde">Registrate tus preferencias</h1>
  <hr>
  <br>

  <label for="name">Sexo</label ><br/>
    <br>
   <input type="radio" class="lato" placeholder="Masculino" name="Sexo" value="Masculino"/>Masculino
   <br/>
   <input type="radio" class="lato" placeholder="Femenido" name="Sexo" value="Femenino"/>Femenino
   <br/>
   <input type="radio" class="lato" placeholder="Otro" name="Sexo" value="Otro"/>Otro
   <br/>
   <br/>
   <br>

   <label for="name">Presupuesto</label ><br />

   <input type="text" class="text-center" placeholder="Presupuesto" name="Presupuesto" size="20" maxlength="45" />
   <br>
   <br>
   <label for="name">Codigo Postal donde te ecuentras</label >
   <br/>
   <input type="int" class="text-center" placeholder="1070" name="Longitud" size="20" maxlength="20" ><br />
   <br/>
   <br/>
   <br/>

   <div align = "center">
   <input type="submit" class="lato" value="Registrar preferencias" action="/usuario/registrar"> 
  
   </div>

   <br/>
</form>
</body>
</html>
