 <!DOCTYPE html>

 <!--Plantilla-->
<nav>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Free Responsive Template #10 - large palm</title>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<header>
    <div class="headerContainer">   
    <h1><img src="http://localhost:1337/images/Logo_peque%C3%B1o.jpg" alt="" class="boxPic shadowStyle"><a href="http://localhost:1337">Disfruta Caracas</a></h1>
        <div id="navcontainer">
            <ul id="navlist">
                <li><a href="http://localhost:1337">Home</a></li>
                <li id="active"><a href="http://localhost:1337/registro">Registrar</a></li>
                <li><a href="http://localhost:1337/consulta">Consultar</a></li>
                <li><a href="http://localhost:1337/login">Mi perfil</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <br class="clearfloat" />
</head>
<body>
</nav>
<!--Fin de plantilla-->


<form action="/Usuario/create" method="POST" >
  <div align="center">

  <h1 class="pacifico verde">Registrate!</h1>
  <hr>
  <br>
  
  <label for="name" class="lato espacio-derecha"> Primer Nombre</label >
  <label for="name" class="lato"> Primer Apellido</label >
  <br>

   <input type="text" class="text-center" placeholder="Juan" name="Nombre" size="20" maxlength="45" >
   <input type="text" class="text-center" placeholder="perez" name="Apellido" size="20" maxlength="45" >

   <br/>
   <br/>
   
   <label for="name">Fecha de nacimiento</label ><br/>
   <input type="date" class="text-center" name="Fecha_de_nacimiento"><br />

   <br/>
   <br/>

    <label for="name">Edad</label ><br/>
   <input type="int" class="text-center" name="Edad"><br />
   <br/>

   <script>
Fecha_de_consulta=document.innerHTML = Date(day,month,year);
</script>
 

   <label for="name">Correo Electronico</label ><br/>
   <input type="email" class="text-center" placeholder="juanperez@correo.com" name="Correo" size="20" maxlength="200" ><br />
   <br/>

   <label for="name">Alias</label ><br/>
   <input type="text" class="text-center" placeholder="Rockpepe" name="Alias" size="20" maxlength="45" ><br />
   
   <br/>
   <br/>


   <label for="name">clave</label ><br/>
   <input type="password" class="text-center" placeholder="clave" name="Clave" size="20" maxlength="20" ><br />
   <br/>
   <br/>

   <div align = "center">
   <input type="submit" class="lato" value="Registrar Usuario" action="/usuario/registrar"> 
  
   </div>

   <br/>
  
   <div>
</form>
</body>
</html>