<!DOCTYPE html>

<html>




<body>
<h> Tarea SQL grupo 1 </h>
<br><br>
<hr>
<br><br>
<form action="/Tarea/busqueda" >
<tr><td><td><input type="submit" value="pregunta 1"></td></td></tr>
<input type='hidden' value= "1" name='pregunta'>
</form>
<br><br>
<form action="/Tarea/busqueda" >
<tr><td><td><input type="submit" value="pregunta 2"></td></td></tr>
<input type='hidden' value= "2" name='pregunta'>
</form>
<br><br>
<form action="/Tarea/busqueda" >
<tr><td><td><input type="submit" value="pregunta 3"></td></td></tr>
<input type='hidden' value= "3" name='pregunta'>
</form>
<br><br>
<form action="/Tarea/busqueda" >
<tr><td><td><input type="submit" value="pregunta 4"></td></td></tr>
<input type='hidden' value= "4" name='pregunta'>
</form>
<br><br>
<form action="/Tarea/busqueda" >
<tr><td><td><input type="submit" value="pregunta 5"></td></td></tr>
<input type='hidden' value= "5" name='pregunta'>
</form>







</body>
</html>




























